.layout {
  display: flex;
  height: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 50px;
}

.wrap {
  padding-left: 33px;
}

.title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.first_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second_column {
  flex-grow: 1;
  min-width: 500px;
  min-height: 100vh;
  padding: 33px 0 37px 37px;

  background-color: #ffffff;
  border-top-left-radius: 40px;
}
