.wrap {
  padding-left: 33px;
}

.title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.first_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second_column {
  flex-grow: 1;
  padding: 33px 0 0 37px;
}

.second_column {
  min-width: 500px;

  background-color: #ffffff;
  border-top-left-radius: 40px;
}

.extra_possibilities {
  width: 100%;
  padding: 46px 56px 40px 33px;

  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-top-left-radius: 40px;
}

.possibilities_list {
  display: flex;
  flex-direction: column;
  padding-left: 51px;
}

.possibilities_item {
  position: relative;

  width: 100%;
  min-width: max-content;
  margin-right: 24px;

  &:first-child,
  &:last-child {
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: -50px;

      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 18px;
      right: 0;

      width: 9px;
      height: 15px;

      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &:first-child {
    margin-bottom: 38px;
  }

  &:first-child {
    &:before {
      width: 35px;
      height: 25px;

      background-image: url("../../../assets/img/get-card.svg");
    }

    &::after {
      background-image: url("../../../assets/img/arrow.svg");
    }
  }

  &:last-child {
    &:before {
      width: 32px;
      height: 31px;

      background-image: url("../../../assets/img/get-bonus.svg");
    }

    &::after {
      background-image: url("../../../assets/img/arrow.svg");
    }
  }
}

.possibility_desc {
  font-size: 14px;
  line-height: 14px;
  font-family: "Roboto";
  color: #797979;
}

.card_title {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #b5b5b5;

  &_balance {
    margin-bottom: 10px;
  }

  &_transaction {
    margin-bottom: 27px;
  }
}

.balance_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 38px 19px 0;
}

.balance_value {
  margin: 0;

  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
}

.balance_link {
  display: flex;
  align-items: center;
  padding: 25px 23px;

  font-size: 14px;
  line-height: 17px;
  color: #fd3a6c;

  border: 1px solid #fd3a6c;
  border-radius: 20px;

  svg {
    margin-right: 9px;
  }

  span {
    padding-top: 8px;
  }
}

.transaction_row {
  display: flex;
  align-items: center;
  padding-bottom: 87px;
}

.recipients_list {
  display: flex;
  align-items: center;
}

.transaction_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 31px 19px;

  font-size: 14px;
  line-height: 17px;
  color: #fd3a6c;

  border: 1px solid #fd3a6c;
  border-radius: 30px;

  svg {
    margin-bottom: 22px;
  }

  p {
    width: 47px;
    margin: 0;

    text-align: center;
    word-wrap: break-word;
  }

  img {
    margin-bottom: 16px;

    border-radius: 20px;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.recipient_item {
  .transaction_link {
    padding: 16px 20px;

    border-color: transparent;
  }
}

.details {
  padding-right: 51px;

  &_row {
    padding: 23px 0;

    border: 1px solid #b5b5b5;
    border-radius: 30px;

    dl {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 32px;
      padding-left: 56px;
    }

    &:first-child {
      margin-bottom: 26px;
    }
  }

  &_top {
    margin-bottom: 23px;
  }

  &_bottom {
    padding-top: 23px;

    border-top: 1px solid #b5b5b5;
  }

  &_term {
    position: relative;

    font-size: 18px;
    line-height: 24px;
    color: #b5b5b5;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -34px;

      width: 24px;
      height: 24px;

      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &_type::before {
      background-image: url("../../../assets/img/check.svg");
    }

    &_currency::before {
      background-image: url("../../../assets/img/currency.svg");
    }

    &_saving::before {
      background-image: url("../../../assets/img/piggy-bank.svg");
    }

    &_sharing::before {
      top: 4px;
      left: -33px;

      width: 18px;
      height: 18px;

      background-image: url("../../../assets/img/sharing.svg");
    }
  }

  &_desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #262626;

    span {
      font-weight: 700;
    }
  }
}

.recipient_name {
  color: #404040;
}

.sharing_list {
  display: flex;
  align-items: center;
}

.sharing_item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  img {
    display: block;
  }

  span {
    display: block;
    padding: 5px 5px 5px 3px;

    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #b5b5b5;

    border: 1px solid #b5b5b5;
    border-radius: 50%;
    ;
  }
}
