@import "../../assets/abstracts/normalize.scss";

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins";

  font-display: swap;
  src: local("Poppins"),
  local("Poppins Regular"),
  local("Poppins-Regular"),
  url("../../assets/fonts/poppins.woff2") format("woff2"),
  url("../../assets/fonts/poppins.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins";

  font-display: swap;
  src: local("Poppins Medium"),
  local("Poppins-Medium"),
  url("../../assets/fonts/poppins-500.woff2") format("woff2"),
  url("../../assets/fonts/poppins-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Poppins";

  font-display: swap;
  src: local("Poppins Bold"),
  local("Poppins-Bold"),
  url("../../assets/fonts/poppins-700.woff2") format("woff2"),
  url("../../assets/fonts/poppins-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src: local("Roboto"),
  local("Roboto Regular"),
  local("Poppins-Regular"),
  url("../../assets/fonts/roboto.woff2") format("woff2"),
  url("../../assets/fonts/roboto.woff") format("woff");
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", Arial, sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

dl,
dd {
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
